.ListContainer {
  text-align: center;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}


.LogoContainer {
    width: 300px;
    height: 80px;
    margin-right: 39px;
}

.HeaderContainer {
  display: flex;
  flex-direction: row;
  margin-left: 115px;
  margin-right: 115px;
  margin-top: 50px;
  margin-bottom: 41px;
}


.Item1 {
    margin-top: 22px;
    /* margin-bottom: 17px; */
    margin-left: 44px;
}

.Item2 {
    margin-top: 22px;
    /* margin-bottom: 17px; */
    margin-left: 44px;
}

.Item3 {
    margin-top: 20px;
    /* margin-bottom: 17px; */
    margin-left: 30px;
}

.Item4 {
    margin-top: 20px;
    /* margin-bottom: 17px; */
    margin-left: 30px;
}

.Item5 {
    margin-top: 20px;
    /* margin-bottom: 17px; */
    margin-left: 30px;
    margin-right: 44px;
}

.OptionsContainer {
    /* margin-top: 60px; */
    /* margin-bottom: 52px; */
  display: flex;
  flex-direction: row;
  min-width: 650px;
  background: #F8F8F8;

  /* border-bottom: 10px;
  border-color: black;
  margin-bottom: 10px; */
}

.ItemContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px 70px;
  flex-direction: row;
  justify-content: center;
}

.Header {
  background: #FFFFFF;
  border: 9px solid #000000;
  box-sizing: border-box;
  width: 300px;
  height: 70px;
  font-family: 'Kanit', sans-serif;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;

  color: #424B56;
  /* margin-bottom: 10px; */
  margin-top: 6px;
  /* margin-left: 15px; */
  /* margin-right: 15px; */

}

.Button {
  /* border-radius: 15px; */
  /* font-size: 12px; */
  /* background-color: aliceblue; */
  /* margin-top: 15px; */
  font-size: 18px;
  color: #424B56;
  font-family: 'Roboto Condensed', sans-serif;
  background: #EAEAEA;
  width: 98px;
  height: 37px;
  /* width: 90px;
  height: 30px; */
  /* margin-right: 25%; */
  /* align-self: flex-end; */
  /* align-items: center; */
  /* text-align: center; */
}
