.HeadingContainer {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  /* height: 100vh;
  width: 100vw; */
}

.ButtonContainer {
    margin-top: 15px;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.HeadingText {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #424B56;
}

.btn {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  background-color: #EAEAEA;
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 18px ! important;
  /* line-height: 32px; */
  color: #424B56 ! important;
}

.FilterButton {
    /* margin-top: 15px; */
    font-size: 18px;
    color: #424B56;
    font-family: 'Roboto Condensed', sans-serif;
    /* background: #EAEAEA; */
    width: 98px;
    height: 37px;


  /* border-radius: 15px; */
  /* font-size: 18px; */
  background-color: aliceblue;
  /* width: 90px; */
  /* height: 30px; */
  /* margin-left: 20px; */
  margin-right: 20px;
  margin-bottom: 5px;
}
