.HeadingContainer {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  /* height: 100vh;
  width: 100vw; */
}

.ButtonContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.HeadingText {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #424B56;
}

.FilterButton {
  border-radius: 15px;
  font-size: 18px;
  background-color: aliceblue;
  width: 90px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
